DATABASE_URL=postgres://postgres:postgres@localhost:5431/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
FRONTEND_URL=http://localhost:3000
BIND_ADDRESS=0.0.0.0:3001
OPENAI_API_KEY=your-api-key-here 